body {
  font-family: sans-serif;  /* Set a default font */
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;  /* Center the form horizontally */
  padding: 20px;
  border: 1px solid #330b0b;
  border-radius: 5px;
  background-color: #17c7db;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

fieldset {
  border: 1px solid #ad3030;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

legend {
  font-weight: bold;
  padding: 5px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #3e0a0a;
  border-radius: 3px;
  box-sizing: border-box;  /* Ensure padding doesn't affect width */
}

.btn-primary {
  background:#e90606
}